.header {
  height: 400px;
  background-color:rgba(255, 245, 238, 0.459);
  display: flex;
  flex-direction: column;
  color: #707070;
  
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.header-text__h1 {
  letter-spacing: 2px;
  font-size: 25px;
  margin-bottom: 20px;
  text-shadow: -1px 0 gray, 0 1px black, 1px 0 gray, 0 -1px black;
  
}

.header-text__p {
  font-size: 15px;
  letter-spacing: 2px;
  text-shadow: -1px 0 white, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px white;

  
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-box-image img{
  width: 200px;
  height: 200px;
  margin: 0px 50px;
  border-radius: 30px;
}


.header-box-image img:hover{
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}