.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a3d62;
  padding: 15px 0px;
}

.nav-title {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 4px;

}

.nav-title:hover {
  color: #f8c291;
}

.nav-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;

}

.nav-sub a {
  letter-spacing: 1px;
  font-size: 13px;
  color: white;
  text-decoration: none;
  padding: 5px 15px;
}

.nav-sub a:hover {
  color: #f8c291;
}