.pop-background {
  background-color: #0D88A0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.pop-bg2 {
  background-color: #43A483;
}

.pop-bg3 {
  background-color: #445484;
}

.pop-bg4 {
  background-color: #707070;
}

.pop-bg5 {
  background-color: #CC372B;
}

.pop-bg6 {
  background-color: #CCB12B;
}

.pop-background a {
  position: absolute;
  right: 5%;
  top: 20px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.pop-background i {
  margin: 15px;
}


.pop-container {
  width: 60vh;
  background-color: white;
  margin: 5vh 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pop-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.pop-text h1 {
  font-size: 30px;
  letter-spacing: 5px;
}

.pop-text p {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 5px;
  opacity: 0.4;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.pop-text-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.pop-text-main img {
  width: 300px;
  height: 300px;
  border-radius: 100px;
}

.pop-text-main p {
  margin: 50px 70px;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
}




/* Typing */

.typing-animation {
  margin-top: 150px;
}

.typing-animation span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-size: 80px;
  color: #FFF;
  text-shadow: 0 1px 0 #707070,
               0 2px 0 #FF7777,
               0 3px 0 #FF7777,
               0 4px 0 #FF7777,
               0 5px 0 #FF7777,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
}

.typing-animation span:nth-child(2) { animation-delay: .1s; }
.typing-animation span:nth-child(3) { animation-delay: .2s; }
.typing-animation span:nth-child(4) { animation-delay: .3s; }
.typing-animation span:nth-child(5) { animation-delay: .4s; }
.typing-animation span:nth-child(6) { animation-delay: .5s; }
.typing-animation span:nth-child(7) { animation-delay: .6s; }
.typing-animation span:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #707070,
                 0 2px 0 #FF7777,
                 0 3px 0 #FF7777,
                 0 4px 0 #FF7777,
                 0 5px 0 #FF7777,
                 0 6px 0 #FF7777,
                 0 7px 0 #FF7777,
                 0 8px 0 #FF7777,
                 0 9px 0 #FF7777,
                 0 50px 25px rgba(0, 0, 0, .2);
  }
}
